body {background: #fff;}
h3 {font-family: "Courier New", monospace; font-size: 130%; text-align: center;}
input {font-family: "Courier New", monospace; text-align: center; background-color: #ddd; border: groove #fff;}
